<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="fa-duotone fa-light fa-square-envelope"></i> Email</a></p>{% endif %}

{% if site.owner.cv %}<p style="text-indent:0;"><a href="{{ site.owner.cv }}"><i class="fa-duotone fa-light fa-id-card"></i> My CV</a></p>{% endif %}

{% if site.owner.twitter %}<p style="text-indent:0;"><a href="https://twitter.com/{{ site.owner.twitter }}"><i class="fa-brands fa-twitter"></i> Twitter</a></p>{% endif %}

{% if site.owner.facebook %}<p style="text-indent:0;"><a href="https://facebook.com/{{ site.owner.facebook }}"><i class="fa-brands fa-facebook-f"></i> Facebook</a></p>{% endif %}

{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}"><i class="fa-google-plus-g"></i> Google+</a></p>{% endif %}

{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fa-brands fa-linkedin-in"></i> LinkedIn</a></p>{% endif %}

{% if site.owner.instagram %}<p style="text-indent:0;"><a href="https://instagram.com/{{ site.owner.instagram }}"><i class="fab fa-instagram"></i> Instagram</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="fab fa-github"></i> Github</a></p>{% endif %}

{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="https://lastfm.com/{{ site.owner.lastfm }}"><i class="icon-lastfm"></i> Last.fm</a></p>{% endif %}

{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="https://{{ site.owner.tumblr }}.tumblr.com"><i class="icon-tumblr"></i> Tumblr</a></p>{% endif %}

{% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar }}"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a></p>{% endif %}

{% if site.owner.researchgate %}<p style="text-indent:0;"><a href="{{ site.owner.researchgate }}"><i class="fa-brands fa-researchgate"></i> ResearchGate</a></p>{% endif %}

{% if site.owner.zhihu %}<p style="text-indent:0;"><a href="{{ site.owner.zhihu }}"><i class="fa-brands fa-zhihu"></i> Zhihu</a></p>{% endif %}

{% if site.owner.xiaohongshu %}<p style="text-indent:0;"><a href="https://www.xiaohongshu.com/user/profile/{{site.owner.xiaohongshu}}"><img src="https://caihanlin.com/images/logo/xiaohongshu.png" width="14.6" height="14.6"></i> RedNote</a></p>{% endif %}

{% if site.owner.bilibili %}<p style="text-indent:0;"><a href="https://space.bilibili.com/{{ site.owner.bilibili }}"><i class="fa-brands fa-bilibili"></i> Bilibili</a></p>{% endif %}

<!-- Lastly modified by Hanlin CAI in 2023/10/15 -->

<body>
    <i class="fa-solid fa-user-chef"></i>
    <!-- uses solid style -->
    <i class="fa-brands fa-github-square"></i>
    <!-- uses brand style -->
</body>

<body>
    <i class="fa-solid fa-user-chef"></i>
    <!-- uses solid style -->
    <i class="fa-brands fa-github-square"></i>
    <!-- uses brand style -->
</body>